<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">

    <context:component-scan base-package="ru.cti.verintsipbyehandler"/>
    <context:property-placeholder location="classpath*:config.properties"/>
    <beans>
        <bean id="main" class="ru.cti.verintsipbyehandler.Main"/>
        <bean id="parseAndAddCalls" class="ru.cti.verintsipbyehandler.ParseAndProcessCalls">
            <constructor-arg value="${regexp}"/>
            <constructor-arg value="${risLogsFolderPath}"/>
            <constructor-arg type="int" value="${callTerminationTimeout}"/>
            <constructor-arg type="int" value="${completedCallDeletionTimer}"/>
        </bean>
        <bean id="sipLayer" class="ru.cti.verintsipbyehandler.SipLayer">
            <constructor-arg value="${sip.username}"/>
            <constructor-arg value="${srcIpAddress}"/>
            <constructor-arg value="${sip.srcPort}"/>
            <constructor-arg value="${sip.destinationAddress}"/>
            <constructor-arg value="${sipLibraryLogLevel}"/>
        </bean>
    </beans>
</beans>